# Medical ChatBot Configuration
# Required for RAG-based medical assistant service
#PINECONE_API_KEY=your_pinecone_api_key_here
#GROQ_API_KEY=your_groq_api_key_here

# JWT Authentication
#JWT_SECRET_KEY=your_super_secret_jwt_key_here_change_in_production

# VITE_GEMINI_API_KEY=AIzaSyCIDauLdqhgn2v5HiWLi3rth2GWxMRZGSU
JWT_SECRET_KEY=AIzaSyCIdqhgn2v5HiWLi3rth2GWxMRZGSU
PINECONE_API_KEY=pcsk_3K37T_E1GBm8ZVEZc62g3FnoBtqv8hWDu4oQA9nXfNAcSYR84PwdC2AXRdE1d7SAEqF5i
PINECONE_ENVIRONMENT=aped-4627-b74a
# GOOGLE_API_KEY=AIzaSyAhsBkGh5bfn6T_50ZQJkZJZshF5Hmr_W0
GEMINI_API_KEYS=AIzaSyAMbd0BTTy740014b8cHGv6wflh5ZOzh-A,AIzaSyCLRaeSplS9IU2y8o0fprpTxYVT-PGNEmU,AIzaSyAzEJH_Y3CmBoiviW_PwrWRmLwdwdsdCW4,AIzaSyADbl09j5JzZUOZ36nxP7wgEJNYomw-Z4k
GROQ_API_KEY=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
